<!-- Your banner code -->
<section class="banner-wrapper" style="background-image: linear-gradient(to bottom, rgba(10,47,70,0.6) 50%,rgba(125,185,232,0.1) 100%), url('images/background.jpg');">
  <div class="container banner-layout">
    <div class="banner-info text-center">
      <h1>WELCOME HOME</h1>
      <h2>Rent unique places to stay from local hosts in 190+ countries.</h2>
      <a href="">How it works</a>
    </div>
  </div>
</section>
