<!-- Your banner code -->
<section class="banner-wrapper">
  <div class="container banner-layout">
    <div class="banner-info text-center">
      <h1>WELCOME HOME</h1>
      <h2>Rent unique places to stay from local hosts in 190+ countries.</h2>
      <a href="">How it works</a>
    </div>
  </div>
</section>
