<!-- Your banner code -->
<section class="banner-wrapper" style="background-image: linear-gradient(to bottom, rgba(10,47,70,0.6) 50%,rgba(125,185,232,0.1) 100%), url('images/background.jpg');">
  <div class="container banner-layout">
    <div class="banner-info text-center">
      <h1>WELCOME HOME</h1>
      <h2>Rent unique places to stay from local hosts in 190+ countries.</h2>
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control input-lg" id="checkIn" type="text" placeholder="check in">
        </div>
        <div class="form-group">
          <input class="form-control input-lg" id="checkOut" type="text" placeholder="check out">
        </div>
        <div class="form-group">
          <select class="form-control input-lg">
            <option value="1">1 guest</option>
            <option value="2">2 guests</option>
            <option value="3">3 guests</option>
          </select>
        </div>
        <div class="form-group">
          <input class="btn btn-lg btn-primary" type="submit" value="Search">
        </div>
      </form>
    </div>
  </div>
</section>
