<!-- Your cards code -->
<section class="card-wrapper">

  <div class="container text-center">
    <h2>Your next trip</h2>
    <a href="#">
      <div class="cards row">
        <div class="card col-sm-12 col-md-4">
          <div class="card-layout" style="background-image: url('images/card-paris.jpg')">
            <div class="card-top">
              <h3>Paris</h3>
            </div>
            <img src="images/seb.jpg" class="card-profile">
            <div class="card-bottom">
              <h3>Seb's home</h3>
              <p>Charming room with patio</p>
            </div>
          </div>
        </div>

        <div class="card col-sm-12 col-md-4"">
          <div class="card-layout" style="background-image: url('images/card-brussels.jpeg')">
            <div class="card-top">
              <h3>Brussels</h3>
            </div>
            <img src="images/anne.jpg" class="card-profile">
            <div class="card-bottom">
              <h3>Anne's home</h3>
              <p>Charming room with patio</p>
            </div>
          </div>
        </div>

        <div class="card col-sm-12 col-md-4">
          <div class="card-layout" style="background-image: url('images/card-london.jpeg')">
            <div class="card-top">
              <h3>London</h3>
            </div>
            <img src="images/romain.jpeg" class="card-profile">
            <div class="card-bottom">
              <h3>Romain's home</h3>
              <p>Charming room with patio</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
