<!-- Your features code -->
<section class="wrapper-grey">
  <div class="container">
    <div class="features row">
      <div class="feature text-center col-sm-12 col-md-6 col-lg-3">
        <img src="images/globe.png">
        <h3>Discover the world</h3>
        <p>The earth is your new home.</p>
      </div>

      <div class="feature text-center col-sm-12 col-md-6 col-lg-3">
        <img src="images/dollar.png">
        <h3>Pay online</h3>
        <p>No cash issues anymore.</p>
      </div>

      <div class="feature text-center col-sm-12 col-md-6 col-lg-3">
        <img src="images/beer.png">
        <h3>Meet people</h3>
        <p>Discover new culture and lifestyle.</p>
      </div>

      <div class="feature text-center col-sm-12 col-md-6 col-lg-3">
        <img src="images/heart.png">
        <h3>Share and love</h3>
        <p>Join a community you will love.</p>
      </div>
    </div>
  </div>
</section>
