<!-- Your newsletter code -->
<section class="wrapper-grey">
  <div class="container">
    <div class="newsletter text-center">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us</p>
      <div class="form-inline">
        <input class="form-control" type="email" placeholder="bob@gmail.com">
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </div>
    </div>
  </div>
</section>
